.mainHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.headerContainer{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 15px 0 15px 0;
  }
.menu{
    display: flex;
}
.menu ul{
    display: flex;
}
.menu ul li a{ 
    margin-right: 10px;
    color: #a1a2a4;
    transition: .2s ease-in-out;
    padding: 3px 3px 2px;
}
.menu ul li a:hover{ 
    color: #3b3d42;
}
.menu ul li:last-child{ 
    margin-right: 0;
}