.App{
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainContainer{
  max-width: 1200px;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.mainContainer .left{
  padding: 122px 10px 0 10px;
  line-height: 26px;
}
.mainContainer .left h1{
  color: #19324c;
  font-size: 44px;
  line-height: 64px;
}
.mainContainer .left span{
  color: rgb(65, 115, 242);
 
}
.mainContainer .left p{
  font-size: 16px;
  padding: 10px;
}
.mainContainer .left button{
  border: none;
  color: #ffffff;
  background-color: #2763fb;
  border-radius: 2px 2px 2px 2px;
  padding: 14px 20px 15px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .2s ease-in-out;
}
.mainContainer .left button:hover{
  color: #ffffff;
  background-color: #2763fb;
}